<h1>New Implementation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.implementation_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.implementation_path(@conn, :index) %></span>
