<div class="legend container">
  <p>Кружок - сервис</p>
  <p>Прямоугольник - метод АПИ</p>
  <p>Линия - принадлежность метода к сервису</p>
  <p>Пунктирная линия - интеграция (использование АПИ другим сервисом)</p>
</div>
<div id="service_network" style="width:100%; height: 100%" 
  nodes="<%=Jason.encode!(@nodes)%>"
  edges="<%=Jason.encode!(@edges)%>"
></div>