/* This file is for your main application css. */

@import "./phoenix.css";
html, body {
  padding-left: 20px;
  padding-right: 20px;
  height: 90%;
}

hr {
  border-color: #0069d9;
}

.legeng img {
  width: 50px;
  max-height: 22px;
  display: inline-block;
  margin-right: 10px;
}

.legeng span {
  position: relative;
  left: 30px;
}

.legeng {
  display: inline-block;
  width: 300px;
  margin-right: 50px;
}

.input_field {
  width: 100%;
  height: 24px;
}

.service_network {
  display: flex;
  margin: 5px;
  height: 90%;
}

.service_network .canvas {
  flex: 80%;
}

.service_network .panel {
  flex: 20%;
  background-color: transparent;
}

.service_network .panel ul {
  overflow-y: scroll;
  max-height: 600px;
}

.service_network input {
  flex: 20%;
  background-color: transparent;
}

.a_button {
  cursor: pointer;
  text-decoration: underline;
  color: #0069d9;
  display: inline;
  margin: 5px;
}

ul {
  list-style: square inside;
  margin-left: 10px;
}

.checkbox_li label, input {
  font-weight: inherit;
  display: inline;
  word-wrap: break-word;
}

.checkbox_group {
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.nav_panel {
  width: 100%;
}

.with-margin {
  margin: 5px;
}

.font-border {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}